/*# File: textbook/docs/overrides/css/scroll-buttons.css*/


.md-scroll-button {
    position: fixed;
    right: 1rem;
    width: 2rem;
    height: 2rem;
    padding: 0.3rem;
    margin: 0.3rem;
    cursor: pointer;
    background: var(--md-primary-fg-color);
    border: none;
    border-radius: 100%;
    box-shadow: 0 0.2rem 0.5rem rgba(0,0,0,.1);
    transition: all 0.25s cubic-bezier(.4,0,.2,1);
    opacity: 0;
    transform: scale(.7);
    z-index: 99;
}

.md-scroll-button[data-md-state=active] {
    opacity: 0.8;
    transform: scale(1);
}

.md-scroll-button:hover {
    opacity: 1;
}

.md-scroll-button.md-scroll-inactive {
    opacity: 0;
    pointer-events: none;
}

.md-scroll-button svg {
    color: var(--md-primary-bg-color);
}

.md-scroll-top {
    bottom: 3.5rem;
}

.md-scroll-bottom {
    bottom: 1rem;
}
