# File: scripts/templates/citations.html
<details class="citation-formats">
<summary>:fontawesome-solid-quote-left: Cite this chapter</summary>

<div class="citation-content">
    <div class="citation-format">
        <div class="format-label">APA</div>
        <div class="format-content">
            {apa}
        </div>
    </div>

    <div class="citation-format">
        <div class="format-label">Chicago</div>
        <div class="format-content">
            {chicago}
        </div>
    </div>

    <div class="citation-format">
        <div class="format-label">MLA</div>
        <div class="format-content">
            {mla}
        </div>
    </div>
</div>
</details>
