/* titles.css */

/* Import Dauphin Plain font */
@font-face {
    font-family: 'Dauphin';
    src: url('../fonts/Dauphinn.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Reduce space between header and first heading */
.md-main__inner {
    margin-top: 0;
}

.md-content__inner {
    padding-top: 0;
}

.md-typeset h1:first-child {
    margin-top: 0;
}

/* Hide permalink icons */
.md-typeset h1 .headerlink,
.md-typeset h2 .headerlink,
.md-typeset h3 .headerlink,
.md-typeset h4 .headerlink,
.md-typeset h5 .headerlink,
.md-typeset h6 .headerlink {
    display: none;
}

/* Common styles for all headings */
.md-typeset h1,
.md-typeset h2,
.md-typeset h3,
.md-typeset h4,
.md-typeset h5,
.md-typeset h6 {
    font-family: 'Dauphin', var(--md-text-font);
    margin-top: 1.5em;
    margin-bottom: 0.8em;
    padding: 0.2em 0.3em;
    background-color: var(--md-primary-fg-color);
    color: var(--md-primary-bg-color);
}

/* Heading 1 */
.md-typeset h1 {
    font-size: 2.2em;
}

/* Heading 2 */
.md-typeset h2 {
    font-size: 1.8em;
}

/* Heading 3 */
.md-types
