/* File: docs/overrides/css/toc.css */

/* Hide scrollbar for Chrome, Safari and Opera */
.md-sidebar__scrollwrap::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.md-sidebar__scrollwrap {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* Ensure content is still scrollable */
.md-sidebar__scrollwrap {
    overflow-y: auto;
}
