/* base.css */

:root {
    /* Colors */
    --md-primary-fg-color: #1a252f;
    --md-primary-fg-color--light: #2c3e50;
    --md-primary-fg-color--dark: #0d1318;
    --md-primary-bg-color: #ffffff;
    --md-primary-bg-color--light: #ecf0f1;
    
    --md-accent-fg-color: #3498db;
    --md-accent-fg-color--transparent: #3498db1a;
    
    --md-typeset-color: #333333;
    --md-typeset-a-color: #1a252f;

    /* Fonts */
    --md-text-font: 'Benne', serif;
    --md-code-font: 'Roboto Mono', monospace;

    /* Font Sizes */
    --md-base-font-size: 16px;
    --md-small-font-size: 0.8rem;
    --md-medium-font-size: 0.9rem;
    --md-large-font-size: 1rem;

    /* Widths */
    --md-main-content-width: 55rem;
}

