/* Component Styles */

/* Button container */
.button-container {
    display: flex;
    flex-wrap: nowrap;
    gap: 5px;
    margin-top: 0.5em;
    overflow-x: auto;
    padding-bottom: 5px;
    width: 100%; /* Ensure full width of the container */
}

/* Buttons */
.md-button {
    display: inline-block;
    padding: 4px 8px;
    font-size: 0.8em;
    font-weight: normal;
    text-align: center;
    text-decoration: none;
    background-color: var(--md-primary-fg-color);
    color: var(--md-primary-bg-color) !important;
    border: none !important;
    outline: none !important;
    border-radius: 4px;
    transition: background-color 0.2s ease;
    white-space: nowrap;
    flex: 1;
    min-width: 0;
    box-shadow: none !important;
}

.md-button:hover,
.md-button:focus {
    background-color: var(--md-primary-fg-color--light);
    color: var(--md-primary-bg-color) !important;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}

.md-button--disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.md-button--disabled:hover,
.md-button--disabled:focus {
    background-color: var(--md-primary-fg-color) !important;
    opacity: 0.5 !important;
}

/* Adjust icon size within buttons */
.md-button .twemoji {
    width: 1em;
    height: 1em;
    vertical-align: -0.1em;
}

/* Ensure buttons in tables are equally spaced */
td .button-container {
    justify-content: space-between;
}

td .md-button {
    flex: 1 1 0;
}

