/* Hyperlink styling */
.md-typeset a {
  /*color: var(--md-typeset-a-color);*/
  color: var(--md-accent-fg-color);
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

.md-typeset a:hover {
  color: var(--md-accent-fg-color);
  text-decoration: underline;
}

/* Ensure link color doesn't affect buttons */
.md-typeset .md-button {
  color: inherit;
}
